.experience-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border-color);
    margin-top: 50px;
    padding-left: 24px;

    .experience-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .experience-timeline{
            font-size: 12px;
        }
    }


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -11px;
        width: 21px;
        height: 21px;
        background-color: var(--experience-bg);
        /*border: 2px solid var(--border-color);*/
        border-radius: 50%;
    }

}
